<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>

  <div class="navbar navbar-light navbar-lewagon d-flex justify-content-between align-items-center">
  <%= link_to icon('fas', 'film'), lists_path, class: 'navbar-brand' %>
    <div>
      <%= link_to 'My lists', lists_path, class: 'text-secondary' %>
      <%= link_to 'New list', new_list_path, class: 'text-secondary' %>
    </div>
  </div>

    <%= yield %>
  </body>
</html>
